API_PORT=8080
ASPNETCORE_ENVIRONMENT=Production
CORS_ALLOWED_ORIGIN_0=http://localhost:3000
CORS_ALLOWED_ORIGIN_1=http://localhost:5173
CORS_ALLOWED_ORIGIN_2=http://localhost:4173

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=pingtower_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123

ASPNETIDENTITY_PASSWORD_REQUIRE_DIGIT=true
ASPNETIDENTITY_PASSWORD_REQUIRE_LOWERCASE=true
ASPNETIDENTITY_PASSWORD_REQUIRE_UPPERCASE=true
ASPNETIDENTITY_PASSWORD_REQUIRE_NON_ALPHANUMERIC=false
ASPNETIDENTITY_PASSWORD_REQUIRED_LENGTH=8
ASPNETIDENTITY_LOCKOUT_DEFAULT_TIMESPAN_MINUTES=5
ASPNETIDENTITY_LOCKOUT_MAX_FAILED_ACCESS_ATTEMPTS=5
ASPNETIDENTITY_LOCKOUT_ALLOWED_FOR_NEW_USERS=true
ASPNETIDENTITY_USER_REQUIRE_UNIQUE_EMAIL=true
ASPNETIDENTITY_SIGNIN_REQUIRE_CONFIRMED_EMAIL=true

JWT_SECRET_KEY=CHANGE_ME_WITH_A_LONG_RANDOM_SECRET_KEY_AT_LEAST_32_CHARS
JWT_AUDIENCE=PingTowerClient
JWT_ISSUER=PingTowerApi
JWT_EXPIRE_IN_MINUTE=60
JWT_REFRESH_TOKEN_EXPIRE_IN_DAYS=7

TELEGRAM_BOT_TOKEN=CHANGE_ME_TELEGRAM_BOT_TOKEN
TELEGRAM_AUTH_LIFETIME_MINUTES=10
AUTH_WEB_APP_URL=https://pingtower.example.com
AUTH_VERIFY_EMAIL_PATH_TEMPLATE=/auth/verify-email?email={email}&code={code}
AUTH_RESET_PASSWORD_PATH_TEMPLATE=/auth/reset-password?email={email}&code={code}
AUTH_VERIFICATION_EMAIL_COOLDOWN_SECONDS=60
AUTH_PASSWORD_RESET_EMAIL_COOLDOWN_SECONDS=60

CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=8123
CLICKHOUSE_DB=pingtower_analytics
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=clickhouse123

RABBITMQ_HOST=broker
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=123
RABBITMQ_MAIN_QUEUE=emailQueue
RABBITMQ_TELEGRAM_QUEUE=telegramQueue
RABBITMQ_SERVER_EVENTS_EXCHANGE=serverEventsExchange
RABBITMQ_SERVER_ADDED_ROUTING_KEY=server.target.added
RABBITMQ_SERVER_UPDATED_ROUTING_KEY=server.target.updated
RABBITMQ_SERVER_DELETED_ROUTING_KEY=server.target.deleted
RABBITMQ_SERVER_STATUS_CHANGED_QUEUE=q.api.status-events

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=123
REDIS_DATABASE=0
REDIS_KEY_PREFIX=api

APP_WEB_URL=https://pingtower.example.com
APP_SERVER_PATH_TEMPLATE=/servers/{serverId}
APP_TELEGRAM_DASHBOARD_BUTTON_TEXT=📊 Web-version
